[color]
	ui = true
[user]
	email = cory.huebner@asolutions.com
	name = cory.huebner
[credential]
	helper = cache

[difftool "meld"]
 
[diff]
tool = meld
 
[mergetool "meld"]
tool = meld
trustExitCode = true
 
[mergetool]
keepBackup = false
 
[merge]
tool = meld

[difftool]
prompt = false

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	put = push origin HEAD
	rhu = !git reset --hard $(git rev-parse --symbolic-full-name @{u})
	dt = difftool
	pushu = push -u
	putu = push -u origin HEAD
	putqa = push origin HEAD:qa.internal
